.header {
  border: red 1px solid;
  height: 80px;
  width: 100%;
  background: transparent;
  //background-color: #111111;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position:fixed ;
  z-index: 999;
  @media(max-width: 370px) {
    justify-content: center;

  }

}




