.contactsBlock {
    height: 85vh;
    background-color: #7cdeb6;
    display: flex;
    align-items: center;
}

.contactsContainer{
    flex-direction: column;
    justify-content: space-between ;
    height: 70%;
}
.title{
    background-color: #edf39e;
    justify-content: flex-start;
    margin-top: 0px;
}
.form{
    display: flex;
    flex-direction: column;
    height: 45%;
    border: 1px solid;
    justify-content: space-between;
}
.formItem{
    width: 350px;
    height: 25px;

}

.formItemTextarea{
    height: 100px;
}
.button {
    height: 30px;
    width: 100px;
    background-color: #4165ea;
    border:none;
}
@media (max-width: 470px) {
    .formItem{
        width: 200px;
        height: 20px;
    }
    .formItemTextarea{
        height: 50px;
    }
    .button {
        height: 40px;
        width: 150px;
        font-size: 20px;
    }
    .form{
        width: 90%;
        align-items: center;
    }
    .formItem{
        width: 100%;
    }
}
@media (max-width: 370px){
    .contactsBlock{
        height: 60vh;
    }
    .contactsContainer{
        width: 100%;
    }
    .form{
        width: 100%;
        align-items: center;
    }
    .formItem{
        width: 90%;
    }

}