@import "../common/styles/mixins.module";
@import "../common/styles/variables.module";

.contactsBlock {
  background-image: url("https://demo.themecon.net/onlyme/html/images/service-bg.jpg");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  @media(max-width: 550px){

  }
  .contactsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 40px;
      & h1{
        text-transform: uppercase;
        color: #fff;
        font-weight: 700;
        letter-spacing: 1px;
      }
    }
  }
  .contactBlock {
    display: flex;
    height: 80%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 150px;
    @media(max-width: 750px){
      flex-direction: column;
      padding-top: 30px;
    }
    .myContacts {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      & h3 {
        text-transform: uppercase;
        @include myFont(16px, 700, $secondaryTextColor, 'roboto');
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 1px;
        display: block;
      }

      & p {
        @include myFont(22px, normal, $textColor, 'Futura Bk BT');
        line-height: 1.8;
        -webkit-font-smoothing: antialiased;
      }

      .email {
        color: $primaryColor
      }
    }

  }

}




