.skill{
    width: 250px;
    min-height: 100px;
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px double  ;
    margin: 1px;
}
.icon{
    height: 60px;
    width: 60px;
    //background-color: #d796bc;

}
.description{
    text-align: center;
}

