@import "../../common/styles/variables.module";
@import '../../common/styles/mixins.module';

.mainBlock {
  height: 100vh;
  background-image: url("https://demo.themecon.net/onlyme/html/images/home2-hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  .mainContainer {
    flex-wrap: wrap;
    @media(max-width: 720px) {
      justify-content: center;
    }


    .contentWrapper {
      height: 100vh;
      width: 100%;
      display: flex;
      flex-flow: row;
      justify-content: center;
      position: relative;
      @media(max-width: 860px) {
        display: flex;
        flex-direction: column;
      }
      @media(max-width: 550px) {
       align-items: center;
        justify-content: center;
      }



      .heroContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        transition: all 1.2s ease 0.4s;

        @media(max-width: 860px) {
          position: static;
          margin-top: 100px;
          transition: all 1.2s ease 0.4s;
          align-items: flex-start;
        }
        @media(max-width: 550px) {

        }


        .title {
          @include myFont(142px, bold, $textColor);
          background: url('https://demo.themecon.net/onlyme/html/images/hero-title-pettern-bg.png') no-repeat 95% center / contain;
          line-height: 0.8;
          position: relative;
          z-index: 99;
          display: inline-block;
          margin-left: -10px;
          transition: all 1.2s ease 0.4s;
          @media(max-width: 1155px) {
            @include myFont(100px, bold, $textColor);
          }
          @media(max-width: 830px) {
            @include myFont(90px, bold, $textColor);
          }
          @media(max-width: 670px) {
            @include myFont(80px, bold, $textColor);
          }
          @media(max-width: 550px) {
            background:none;
          }
          @media(max-width: 391px) {
            @include myFont(50px, bold, $textColor);
          }


        }

        .description {
          @include myFont(40px, 500, $textColor);
          margin-top: 16px;
          transition: all 1.2s ease 0.7s;
          z-index: 99;
          @media(max-width: 670px) {
            @include myFont(30px, 500, $textColor);
          }
          @media(max-width: 391px) {
            @include myFont(24px, bold, $textColor);
          }
        }

        .linkDefault {
          display: flex;
          align-items: center;
          margin-top: 30px;

          a {
            @include myFont(22px, 500, $textColor);
            @media(max-width: 670px) {
              @include myFont(20px, 500, $textColor);
            }
          }

        }

        .linkSpan {
          @include linkSpan
        }
      }
      .verticalLogo {
        position: absolute;
        top: 10px;
        left: 150px;
        @media(max-width: 860px) {
          width: auto;
        }
        @media(max-width: 550px) {
          display: none;
        }
      }
      .photo {
        width: 478px;
        height: 100%;
        background-image: url("../../common/image/mainImage.jpeg");
        background-position: -450px;
        background-repeat: no-repeat;
        position: absolute;
        z-index: 1;
        right: 0;
        @media(max-width: 860px) {
          position: static;
          width: auto;
          //background-position: ;
        }
        @media(max-width: 750px) {
          background-position: max(-500px) ;
        }
        @media(max-width: 550px) {
         display:none;
        }
      }

      .texture {
        position: absolute;
        z-index: 0;
        right: -80px;
        bottom: 30px;
        @media(max-width: 860px) {
          position: static;
          width: 40px;
          transform: rotate(90deg);
        }
      }
    }
  }

}


@media(max-width: 370px) {
  .text h1 {
    margin: 2px 0;
  }

}


.socialIconsBlock {
  width: 70px;
  height: 250px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 998;

  & ul {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  & li {
    list-style-type: none;
    width: 35px;
    height: 35px;
    transition: all 0.5s ease;
    border: 1px solid transparent;
    border-radius: 100%;

    &:hover {
      height: 50px;
      width: 50px;
      background-color: $primaryColor;
      opacity: 0.9;
      border: 7px solid $primaryColor;
      color: white;
    }
  }
}
