@import "../common/styles/mixins.module";
.skillsBlock {
    min-height: 100vh;
    background: url('https://demo.themecon.net/onlyme/html/images/project-bg.jpg');
    backgroundSize: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    .skillsContainer{
        flex-direction: column;
        justify-content: space-between ;
        height: 70%;
        .skills{
            min-height: 590px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            @media (max-width: 690px){
                .skills{
                    justify-content: center;
                }
            }
            .WaypointBlock {
                opacity: 0;
                transform: translateY(50px);
                animation: fade 1s ease forwards;
            }
        }
    }
}









