.mainBlock {
    height: 100vh;
    background-color: #eae882;
}

.text{
    width: 300px;
    background-color: #e9eae5;
}
.photo{
    width: 300px;
    height: 400px;
    background-color: #ea53a8;
}
