@import '../../styles/variables.module';
.scrollButton {
  position: fixed;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: $primaryColor;
  border-radius: 3px;
  bottom: 65px;
  cursor: pointer;
  height: 40px;
  width: 40px;
  right: 30px;
  text-align: center;
  z-index: 999;
  &:hover{
    height: 42px;
    width: 42px;
  }
  & svg{
    color: $textColor;
    width: 25px;
    height: 25px;
  }
}