@import '../styles/variables.module.scss';
.title{
  h2{
    font-family: FuturaBoldBT;
    font-size: 82px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
    color: $titleTextColor;
    margin-bottom: 50px;
    transform: translateY(-10px);

    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #333;
    @media (max-width: 1200px){
      font-size: 100px;
    }
  }
}