@import '../styles/variables.module.scss';
@import '../styles/mixins.module';
.title{
  h2{
    @include myFont(82px,700,$titleTextColor);
    text-transform: uppercase;
    line-height: 1;
    margin: 50px 0;
    transform: translateY(-10px);

    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #333;
    @media (max-width: 1200px){
      font-size: 100px;

    }
    @media (max-width: 700px){
      font-size: 70px;
    }
    @media (max-width: 400px){
      font-size: 50px;
    }
  }
}