@import "../../common/styles/variables.module";
@import "../../common/styles/mixins.module";

.slickContainer{
  display: flex;
  .slickImage{
    opacity: 0.9;
    border-radius: 4px;
    width: 627px;
    height: 350px;
    transition: opacity 0.5s ease;
    &:hover{
      opacity: 0.8;

    }
  }
  @media (max-width: 1200px){
   flex-direction: column;
  }
  .slickInfo{
    padding: 0 0 50px 60px;
    @media (max-width: 1200px){
      width: 500px;
      padding-top: 15px;
    }
    .portfolioType {
      @include myFont(14px,700,$primaryColor);
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    .contentTitle {
      @include myFont(36px,500,$textColor);
      line-height: 44px;
      margin-bottom: 12px;
    }
    .contentDescription{
      @include myFont(20px,430,$secondaryTextColor);
      line-height: 1.6;
      text-align: justify;
    }

    .linkDefault {
      display: flex;
      align-items: center;
      margin-top: 15px;
      a {
        @include myFont(22px,500,$textColor);
      }
    }
    .linkSpan{
      @include linkSpan
    }

    .count{
      margin-left: 10px;
      @include myFont(20px,700,$primaryColor);
    }
  }

}










