.project {
    width: 400px;
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgContainer {
    height: 200px;
    width: 400px;
    background-color: #d796bc;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://img.freepik.com/free-vector/programmer-graphic-designer-characters-create-website-man-with-laptop-woman-with-tablet-deve_107791-7443.jpg?w=740&t=st=1663250172~exp=1663250772~hmac=db8dd8057b010894e7ef20fc15f48b6cfe4044dd6de5ecfe3db89b78e1b9c101);
background-size: cover;
    background-position: center;
}

.button {
    height: 30px;
    width: 100px;
    background-color: #4165ea;
    border: none;
    opacity: 30%;
}

.button:hover {
    opacity: 90%;
}

.container {
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 10px;
}

/*.title{*/
/*    display: flex;*/
/*align-self: start}*/
.description {
    text-align: start;
}

@media (max-width: 1017px) {
    .container {
        width: 90%;
    }

    .imgContainer {
        width: 100%;
    }

    .project {
        width: 40%
    }
}

@media (max-width: 715px) {

    /*.icon{*/
    /*    width: 100%;}*/
    .project {
        width: 100%
    }
}

@media (max-width: 370px) {

    .project {
        width: 100%
    }

    .button {
        height: 40px;
        width: 150px;
        font-size: 20px;
    }
}