@font-face {
  font-family: 'FuturaBoldBT';
  src: url('/src/common/fonts/FuturaBoldBT.ttf')
}

body p {
  padding: 0px;
  font-size: 22px;
  line-height: 1.8;
  color: #acacac;
  font-family: FuturaBoldBT sans-serif;
  -webkit-font-smoothing: antialiased;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: #e9eae5;
}

