.projectsBlock {
    min-height: 100vh;
    background-color: #b5e06c;
    display: flex;
    align-items: center;
}

.projectsContainer{
    flex-direction: column;
    justify-content: space-between ;
    height: 70%;
    flex-wrap: nowrap;
}

.skills{
    border: 1px solid ;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}



@media (max-width: 370px){
    .projectsContainer{
        width: 100%;
    }
    .skills{
        flex-direction: column;
    }
}
